/*calendar css*/

.container * {
	box-sizing: border-box;
}

.container {
	width: 25%;

	float: right;
}

.container > ul {
	width: 50%;
}

.calendar-base {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  color: black;
}

.year {
  color: #E8E8E8;
  float: left;
  font-weight: bold;
}


.month-color {
  color: #27AE60;
}
.month-hover:hover{
  color:#27e879 !important;
}

.months {
  color: #AAAAAA;
  position: relative;
  word-spacing: 5%;
}

.month-line {
  border-color: #E8E8E8;
  position: relative;
  width: 57%;
}

.days {
	font-size: 8pt;
  color: #AAAAAA;
  position: relative;
  font-weight: 60;
  float: right;
  width: 53	%;
}

.num-dates {
  float: right;
  position: relative;
  background-color: #aabedd;
}

.week {
  word-spacing: 5px;
}


.active-day {
  border-radius: 50%;
  background-color: #2ECC71;
  position: relative;
}

.white {
  color: white;
}

.two {
  position: relative;
}

.grey {
  color: #2d3451;
}

.calendar-left {
  border-radius: 20px 0px 0px 20px;
  background-color: #2ECC79;
  width: 40%;
  color: white;
  float: left;
}

.day {
  width: 50%;
  float: left;
}

.current-events {
  width: 100%;
  float: left;	
}


