/* Taller CSS - Anibal Gamboa, Xavier Andrade */


header {
	background: url(https://upload.wikimedia.org/wikipedia/commons/2/20/Services4.png) 100% 50%;
	height: 100pt;
}

header > h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 32pt;
	font-family: Verdana;
	color: black;
}





nav {
    background-color: rgb(100,220,220);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200)

}
nav:hover{
    background-color: #333333;
}

li :active{
    font-weight: bold;
    background-color:  rgb(200,120,120)
}

footer{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200);
    text-align: justify;
    
}

