/* Taller CSS - Anibal Gamboa, Xavier Andrade */


header {
	background: url(https://upload.wikimedia.org/wikipedia/commons/2/20/Services4.png) 100% 50%;
	height: 100pt;
}

div, label {
	margin: 4px;
}

.container {
	width: 25%;
	display: inline-block;
}

header > h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 32pt;
	font-family: Verdana;
	color: black;
}

body > picture {
	padding: 4px;
	margin: 8px;
}

body > h3, p {
	padding: 4px;
	margin: 4px;
}

table {
	padding: 2px;
	margin: 16px;
	width: 25%;
	display: inline-table;
}

th {
	color: white;
	font-style: bold;
	background: #A9A9A9;
}

tr:nth-child(even) {
	background: #CCC;
}
tr:nth-child(odd) {
	background: #FFF;
	}

.imagen {
	box-shadow: 2px 2px;
	border:1px solid #021a40;
}



nav {
    background-color: rgb(100,220,220);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200)

}
nav:hover{
    background-color: #333333;
}

li :active{
    font-weight: bold;
    background-color:  rgb(200,120,120)
}

footer{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200);
    text-align: justify;
    
}

