/* Taller CSS - Anibal Gamboa, Xavier Andrade */

header {
	background: url(https://upload.wikimedia.org/wikipedia/commons/2/20/Services4.png) 100% 50%;
}


.container {
	width: 25%;
	float: right;
}

.container .days {
	font-size: 7pt;
}

header > h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 32pt;
	font-family: Verdana;
	color: black;
}

body > picture {
	padding: 4px;
	margin: 8px;
}

div, label {
	margin: 4px;
}

div {
	box-sizing: border-box;
}

video {
	width: 100%
}

img[alt="Mision"]:hover, img[alt="Vision"]:hover{
	opacity: 0.5;
}


aside {
    height: 70%; 
    width: 30%;
	box-sizing: border-box;	
    padding-top: 20px;
	float: left;
}


body > h3, p {
	padding: 4px;
	margin: 4px;
}

div.principal {
	float: right;
	width: 65%;
}

table {
	padding: 2px;
	margin: 16px;
	width: 25%;
}

th {
	color: white;
	font-style: bold;
	background: #A9A9A9;
}

tr:nth-child(even) {
	background: #CCC;
}
tr:nth-child(odd) {
	background: #FFF;
	}

.imagen {
	box-shadow: 2px 2px;
	border:1px solid #021a40;
}
ul{
	width: 25%;
}
li {
	position: relative;
	
	
}
li > .tooltiptext{
	visibility: hidden;
	background-color: rgb(100,100,200);
	color: #fff;
	text-align: center;
    border-radius: 6px;
	padding: 5px 10px;
	position: relative;
	left: 2%;

}

li .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent rgb(100,100,200) transparent transparent;
}


.tooltip:hover + .tooltiptext {
	visibility: visible;
}


nav {
    background-color: rgb(100,220,220);
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200);
}

nav:hover{
    background-color: #c8f7ed;
}

li :active{
    font-weight: bold;
    background-color:  rgb(200,120,120);
}

footer{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(100,100,200);
	
}

footer {
	height:10%;
	width: auto;
	float: left;
	clear: both;
}


.footer-block > p{
	float: left;
	text-align: justify;
	width: 70%;	
}
.footer-block > img{
	height: 10%;
	width: 10%;
	float: right;
}